@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
   
    background-image: url("https://cdn.wallpapersafari.com/44/53/ueZxla.jpg");
    background-size: cover;
}

.beer-logo{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.huurB .btn-left{
    margin: 5px;
    position:relative; 
    padding: 15px 50px;
    border-color: #895021;
    border-width: 4px;
    border-radius: 3px;
    background-color: #dbb088;
    cursor: pointer;
    font-size: 25px;
    float:left;
    
}



.huurB .btn-right{
    margin: 5px;
    position:relative; 
    padding: 15px 50px;
    border-color: #895021;
    border-width: 4px;
    border-radius: 3px;
    background-color: #dbb088;
    cursor: pointer;
    font-size: 25px;
    float:right
}



.huurB .h1 {
    Font-family: Montserrat;
    Border: 5px grey;
    border-radius: 8px;
    border-width: 4px;
    Background-color: white;
    width: 550px;
    border-style: inset;
    margin-left: auto;
    margin-right: auto; 
    }

    .huurB .P1 {
        Font-family: Montserrat;
        Border: 5px grey;
        border-radius: 8px;
        border-width: 4px;
        Background-color: white;
        width: 550px;
        border-style: inset;
        margin-left: auto;
        margin-right: auto; 
        
        }
